body {
	font-family:monospace;
}

div {
	padding-left: 10%;
	padding-right: 10%;
	max-width: 70ch;
}

div h1 {
	text-align: center;
}

code {
	background: #3f3f3f;
	color: #cdcdcd;
	padding: 3px;
	margin-top: 2px;
	font-weight: bold;
	display: inline-block;
}

pre code {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:-20px;
	margin-bottom:-20px;
}

#students {
	font-weight: bold;
	color: red;
}

@media only screen and (max-width: 500px) {
	/* For mobile phones: */
	body {
		font-size: 120%;
	}
}

table td {
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  *border-collapse: expression('separate', cellSpacing='10px');
}

