body {
	font-family:monospace;
}

div {
	padding-left: 10%;
	padding-right: 10%;
	max-width: 70ch;
}

div h1 {
	text-align: center;
}

code {
	background: black;
	color: white;
	padding: 3px;
	font-weight: bold;
}

pre code {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:-20px;
	margin-bottom:-20px;
}

#students {
	font-weight: bold;
	color: red;
}

@media only screen and (max-width: 500px) {
	/* For mobile phones: */
	body {
		font-size: 120%;
	}
}
